<h3>Projects:</h3>

<% if @projects.any? %>
<h4>Available Projects</h4>
<% @projects.each do |project| %>
<h5><a href="/projects/<%= project.id %>"><%= project.title %></a></h5>
<% end %>
<% else %>
<p>There are currently no projects to display.</p>
<% end %>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input id="title_input" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="danger">Create Project</button>
</form>

<a href="/projects/new">Add a new project</a>
